<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lakki+Reddy" rel="stylesheet">
        <meta charset="utf-8">
        <title>Pokemon</title>
    </head>