<nav>
  <ul>
    <img id="logo" src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fimg02.deviantart.net%2Ffd8c%2Fi%2F2015%2F162%2Fc%2F2%2Fjapanese_pokemon_frost_snow_logo_by_cscdgnpry-d8wuyf2.png&f=1">
  </ul>
</nav>
