<% include partials/header.ejs %>
<body>
<% include partials/nav.ejs %>
    <ul class="pokemon">
         <% pokes.forEach((poke, index) => { %>
        <li><a href="/pokemon/<%=index%>"> <%= poke.name %> </a></li>
         <% }) %>
    </ul>
        <a href="/pokemon/new">Create a New Pokemon</a>
</body>
<% include partials/footer.ejs %>   
</html>


