<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">

        <meta charset="utf-8">
        <title>Create</title>
</head>
<body>
<% include partials/nav.ejs %>

<h1>Create New Pokemon Page</h1>
<form id="newmon" method="POST" action="/pokemon">
    <input type="text" name="name" placeholder="pokemon name" value="">
    <input type="text" name="img" placeholder="img" value="">
<button type="submit">Create New Pokemon </button>
</form>
</body>
<% include partials/footer.ejs %>

</html>
