<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css">

        <meta charset="utf-8">
        <title>Fruit</title>
    </head>
    <body>
        <h1>pokemon page</h1>
        <%= pokemon.name %>
       <img src=" <%= pokemon.img %>">
    </body>
</html>
