<% include partials/header.ejs %>
    <body>
    <% include partials/nav.ejs %>

        <h1>pokemon page</h1>
        <%= pokemon.name %>
       <img src=" <%= pokemon.img %>">
    </body>
    <% include partials/footer.ejs %>
    
</html>
