body {
  background: url("https://images6.alphacoders.com/420/420248.jpg") no-repeat center center fixed;
  bottom: 30px;
  background-size: cover;
  font-family: 'Lakki Reddy', cursive;
  text-align: center;
}

.pokemon {
  border: 5px solid black;
}

.pokename a{
  font-size: 26px;
  text-decoration: none;
}

li {
  list-style-type: none;
}

#logo {
  width: 300px;
  height: auto;
}